html {
  font-family: Helvetica;
  color: white;
  background-image: url("https://www.journalreview.com/uploads/original/20200702-164537-new_firework.tif.jpg");
}
h1 {
  text-align: center;
  font-size:5em;
  margin-top: 20%;
}
#answer {
  font-size: 3em;
  text-align: center;
  margin-left: 25%;
  margin-top: 40px;
  background-color: cyan;
  padding: 20px;
  width: 50%;

}
#button{
  text-align: center;
  margin-left:40%;
  font-size: 2.5em;
}
