html {
  font-family: Helvetica;
}
h1 {
  text-align: center;
  font-size:5em;
  margin-top: 20%;
}
#bio {
  font-size: 1.5em;
  margin-left: 5%;
  margin-top: 40px;
}
#links {
  font-size: 1.3em;
  margin-left: 7%;
}
#newyears {
  color: white;
}
#newyearsbg {
  background-image: url("https://www.journalreview.com/uploads/original/20200702-164537-new_firework.tif.jpg");
  z-index:-1;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  position:absolute;
}
#answer {
  font-size: 3em;
  text-align: center;
  margin-left: 25%;
  margin-top: 40px;
  background-color: cyan;
  padding: 20px;
  width: 50%;

}
#button{
  text-align: center;
  margin-left:40%;
  font-size: 2.5em;
}
